@tailwind base;
@tailwind components;
@tailwind utilities;

/* macOS desktop app: prevent scrollbars for simple screens */
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
}
